html {
  @apply h-full;
  font-size: 16px;

  @screen md {
    font-size: 18px;
  }

  @screen lg {
    font-size: 20px;
  }
}

body {
  @apply h-full text-base font-normal text-gray-200 antialiased leading-relaxed;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

html,
body {
  @apply min-h-full;
  background: rgb(var(--ui-background) / var(--tw-bg-opacity));
}
