:root {
  --header-height: 3rem;
  --tw-bg-opacity: 1;

  --ui-background: var(--color-gray-0);
  --ui-foreground: var(--color-gray-900);
}

.dark {
  --ui-background: var(--color-gray-900);
  --ui-foreground: var(--color-gray-200);
}
